@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

.titlecolor {
    color: #53e211;
}

.hellostyle {
    width: 100%;
    height: 100vh;
    white-space: pre;
    z-index: 5;
    font-weight: 400;
    font-style: normal;
    font-family: "Monofett", monospace;
    color: #36f01a;
    font-size: 428.448px;
    letter-spacing: 0em;
    text-transform: uppercase;
    line-height: 1.1;
    text-align: center;
    margin-top: -15vw; 
    /* Remove the position: relative; */
}

.circle-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-text {
    font-size: 19vw;
    animation: bounceAnimation 0.5s ease infinite alternate;
    transform-origin: center bottom;
    display: inline-block; /* Add this to prevent weird inline behavior */
    /* padding-bottom: 5px; */
    /* margin-top: -5px; */
}

.circle-text:nth-child(2) {
    animation-delay: 0.1s; /* Delay the animation for the second circle-text */
}

.circle-text:nth-child(3) {
    animation-delay: 0.2s; /* Delay the animation for the third circle-text */
}

.circle-text:nth-child(4) {
    animation-delay: 0.3s; /* Delay the animation for the fourth circle-text */
}

.circle-text:nth-child(5) {
    animation-delay: 0.4s; /* Delay the animation for the fifth circle-text */
}

.circle-text:nth-child(6) {
    animation-delay: 0.5s; /* Delay the animation for the sixth circle-text */
}

.circle-text:nth-child(7) {
    animation-delay: 0.6s; /* Delay the animation for the seventh circle-text */
}

@keyframes bounceAnimation {
    to {
        transform: scaleY(0.8); /* Adjust the scaleY for the bounce effect */
    }
}

.green-section1{
    background-color: #38B000;
    height: 42vw;
}

.notable {
    font-family: "Notable", sans-serif;
    font-weight: 400;
    /* font-size: larger; */
    font-style: normal;
  }

  @keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #020005;
    overflow: hidden;
}

.background span {
    width: 27vmin;
    height: 27vmin;
    border-radius: 27vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #159e30;
    top: 11%;
    left: 62%;
    animation-duration: 27s;
    animation-delay: -36s;
    transform-origin: -9vw 21vh;
    box-shadow: -54vmin 0 7.034949897949044vmin currentColor;
}
.background span:nth-child(1) {
    color: #08590e;
    top: 82%;
    left: 30%;
    animation-duration: 18s;
    animation-delay: -20s;
    transform-origin: 13vw -4vh;
    box-shadow: 54vmin 0 7.204638675205028vmin currentColor;
}
.background span:nth-child(2) {
    color: #159e30;
    top: 63%;
    left: 11%;
    animation-duration: 25s;
    animation-delay: -44s;
    transform-origin: 1vw 25vh;
    box-shadow: 54vmin 0 7.673981497102818vmin currentColor;
}
.background span:nth-child(3) {
    color: #08590e;
    top: 68%;
    left: 42%;
    animation-duration: 17s;
    animation-delay: -6s;
    transform-origin: -9vw 18vh;
    box-shadow: -54vmin 0 7.237693657654615vmin currentColor;
}
.background span:nth-child(4) {
    color: #08590e;
    top: 61%;
    left: 68%;
    animation-duration: 52s;
    animation-delay: -2s;
    transform-origin: 13vw -23vh;
    box-shadow: 54vmin 0 7.074321616854689vmin currentColor;
}
.background span:nth-child(5) {
    color: #08590e;
    top: 61%;
    left: 67%;
    animation-duration: 55s;
    animation-delay: -12s;
    transform-origin: -19vw 4vh;
    box-shadow: 54vmin 0 6.811138809901034vmin currentColor;
}
.background span:nth-child(6) {
    color: #08590e;
    top: 5%;
    left: 35%;
    animation-duration: 35s;
    animation-delay: -33s;
    transform-origin: -21vw 4vh;
    box-shadow: -54vmin 0 6.791919891297276vmin currentColor;
}
.background span:nth-child(7) {
    color: #08590e;
    top: 29%;
    left: 4%;
    animation-duration: 33s;
    animation-delay: -15s;
    transform-origin: 9vw -16vh;
    box-shadow: -54vmin 0 7.058737133709052vmin currentColor;
}

  