@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');

.titlecolor {
    color: #9ef01a;
}

.hellostyle {
    width: 100%;
    height: 100vh;
    white-space: pre;
    z-index: 5;
    font-weight: 400;
    font-style: normal;
    font-family: "Monofett", monospace;
    color: #9ef01a;
    font-size: 428.448px;
    letter-spacing: 0em;
    text-transform: uppercase;
    line-height: 1.1;
    text-align: center;
    margin-top: -15vw; 
    /* Remove the position: relative; */
}

.circle-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-text {
    font-size: 19vw;
    animation: bounceAnimation 0.5s ease infinite alternate;
    transform-origin: center bottom;
    display: inline-block; /* Add this to prevent weird inline behavior */
    /* padding-bottom: 5px; */
    /* margin-top: -5px; */
}

.circle-text:nth-child(2) {
    animation-delay: 0.1s; /* Delay the animation for the second circle-text */
}

.circle-text:nth-child(3) {
    animation-delay: 0.2s; /* Delay the animation for the third circle-text */
}

.circle-text:nth-child(4) {
    animation-delay: 0.3s; /* Delay the animation for the fourth circle-text */
}

.circle-text:nth-child(5) {
    animation-delay: 0.4s; /* Delay the animation for the fifth circle-text */
}

.circle-text:nth-child(6) {
    animation-delay: 0.5s; /* Delay the animation for the sixth circle-text */
}

.circle-text:nth-child(7) {
    animation-delay: 0.6s; /* Delay the animation for the seventh circle-text */
}

@keyframes bounceAnimation {
    to {
        transform: scaleY(0.8); /* Adjust the scaleY for the bounce effect */
    }
}

.green-section1{
    background-color: #38B000;
    height: 42vw;
}